/* Resetando a pagina*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilo para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #e6ecff; /* Cor de fundo azul claro */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo para o container principal */
.container {
  max-width: 600px;
  padding: 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease; /* Animação de fade-in */
}

/* Animação de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0; /* Opacidade inicial */
  }
  to {
    opacity: 1; /* Opacidade final */
  }
}

/* Estilo para o título */
h1 {
  text-align: center; /* Centraliza o texto */
  color: #333; /* Define a cor do texto */
}

/* Estilo para a lista de tarefas */
#lista-tarefas {
  list-style-type: none; /* Remove a estilização padrão das listas */
  padding: 0; /* Remove o espaçamento interno */
}

li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fcefe9; /* Cor de fundo amarelo claro */
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

li:hover {
  background-color: #f8d49d; /* Cor de fundo amarelo escuro quando hover */
}

/* Estilo para itens concluídos */
.concluido {
  text-decoration: line-through; /* Adiciona linha no texto */
  color: #999; /* Define a cor do texto */
}

/* Estilizando input */
input[type="text"] {
  width: calc(100% - 20px); /* Define a largura do input */
  padding: 10px; /* Adiciona espaçamento interno */
  margin-bottom: 10px; /* Adiciona espaçamento abaixo */
  border: 1px solid #ccc; /* Adiciona borda */
  border-radius: 5px; /* Adiciona bordas arredondadas */
}

/* Estilizando botão */
button {
  padding: 10px 20px;
  background-color: #4caf50; /* Cor de fundo verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

button:hover {
  background-color: #45a049; /* Cor de fundo verde escuro quando hover */
}
